<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.cezaryregec.flappyhog">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hog"
        android:isGame="true"
        android:label="@string/app_name"
        android:versionCode="1"
        android:versionName="0.1"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GameScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_screen"
            android:screenOrientation="portrait"
            android:theme="@style/GameTheme"></activity>

    </application>

</manifest>